{% extends 'layouts/base.html' %}
{% load i18n static %}

{% block title %} Início {% endblock title %}

{% block content %}

    <div class="container-fluid py-4">
      <div class="row">
        <!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4"> -->
        <div class="col col-xl-12 mt-4 mb-4">          
          <div class="card">
            <div class="card-header p-3 pt-2">
              <div class="icon icon-lg icon-shape bg-primary shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                <i class="material-icons opacity-10">face</i>
              </div>
              <div class="text-end pt-1">
                <p class="text-sm mb-0 text-capitalize">Olá, Nome da pessoa logada</p>
                <h4 class="mb-0">Segunda linha do card</h4>
              </div>
            </div>
            <hr class="dark horizontal my-0">
            <div class="card-footer p-3">
              <p class="mb-0"><span class="text-success text-sm font-weight-bolder">Com destaque</span> linha de texto</p>
            </div>
          </div>
        </div>
      </div>
      {% include 'includes/footer.html' %}
    </div>
  {% endblock content %}

  {% block scripts %}
  {% endblock scripts %}