

    <div class="row text-center mt-4">
      <div class="col-10 mx-auto">
        <h4 class="font-weight-normal">{{ empresa }}</h4>
        <p>Escolha um dos questionários disponíveis para a sua empresa.</p>
      </div>
    </div>
    <div class="multisteps-form__content" >
        <div class="row mt-4"  >
            {% for questionario in questionarios %}
                <div class="col-md-6 col-sm-12 ms-auto">
                <input type="radio" class="btn-check" name="escolhaQuestionario" id="btncheck{{forloop.counter}}">
                <label class="btn btn-lg btn-outline-primary border-2 px-6 py-5" for="btncheck{{forloop.counter}}">
                    {{questionario.nome}}
                </label>
                <p class="text-xs px-6" >{{questionario.descricao}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="button-row d-flex mt-4">
            <button class="btn btn-outline-primary mb-0 js-btn-prev" type="button" title="Voltar">Voltar</button>
            <button class="btn bg-gradient-primary ms-auto mb-0 js-btn-next" type="button" title="Next" id="ContinuarQuest" disabled>Continuar</button>
        </div>
    </div>
