{% extends 'layouts/base-fullscreen.html' %}
{% load static %}

{% block content %}

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-12 text-center">
        <h3 class="mt-5">Mapeamento Empresa</h3>
        <h5 class="font-weight-normal opacity-6">Vamos iniciar o mapeamento.</h5>
        <div class="multisteps-form mb-5">
          <!--progress bar-->
          <div class="row">
            <div class="col-12 col-lg-8 mx-auto my-5">
              <div class="card">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                  <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                    <div class="multisteps-form__progress">
                      <button class="multisteps-form__progress-btn js-active" type="button" title="Código de Ativação">
                        <span>Ativação</span>
                      </button>      
                      <button class="multisteps-form__progress-btn" type="button" title="Escolha do Questionário">
                        <span>Questionário</span>
                      </button>
                      <button class="multisteps-form__progress-btn" type="button" title="Responder Questionário Escolhido">
                        <span>Responder</span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <form class="multisteps-form__form" action="{% url 'mapeamento_empresa' %}" >
                    {% csrf_token %}             
                    <!--single form panel-->
                    <div class="multisteps-form__panel js-active" data-animation="FadeIn">
                      <div class="row text-center mt-4">
                        <div class="col-10 mx-auto">
                          <h5 class="font-weight-normal">Precisamos localizar agora o seu questionário</h5>
                          <p>Para identificarmos os questionários liberados para sua empresa, por favor insira o código de ativação fornecido</p>
                        </div>
                      </div>
                      <div class="multisteps-form__content">
                        <div class="row mt-3">
                          <div class="col-12 col-xs-12 mt-4 mt-xs-0 text-start">
                            <div class="input-group input-group-outline mb-4">
                              <label class="form-label" for="Codigo_Empresa">Código de Ativação</label>
                              <input type="text" class="form-control multisteps-form__input" id="Codigo_Empresa">
                            </div>
                          </div>
                        </div>
                        <div class="button-row d-flex mt-4">
                          <a class="btn btn-outline-primary mb-0" type="button" href='{% url "index" %}' title="Depois">Ativar Depois</a>
                          <button class="btn bg-gradient-primary ms-auto mb-0 js-btn-next" type="button" id="btnContinuar" title="Continuar" disabled>Continuar</button>
                        </div>
                      </div>
                    </div>
                    <!--single form panel-->
                    <div class="multisteps-form__panel" data-animation="FadeIn">
                      <div class="row text-center mt-4">
                        <div class="col-10 mx-auto">
                          <h5 class="font-weight-normal">{{ empresa }}</h5>
                          <p>Escolha um dos questionários disponíveis para a sua empresa.</p>
                        </div>
                      </div>
                      <div class="multisteps-form__content">
                        <div class="row mt-4">
                          {% for questionario in questionarios %}
                          <div class="col-md-6 col-sm-12 ms-auto">
                            <input type="radio" class="btn-check" name="escolhaQuestionario" id="btncheck{{forloop.counter}}">
                            <label class="btn btn-lg btn-outline-primary border-2 px-6 py-5" for="btncheck{{forloop.counter}}">
                              {{questionario.nome}}
                            </label>
                            <p class="text-xs px-6" >{{questionario.descricao}}</p>
                          </div>
                          {% endfor %}
                        </div>
                        <div class="button-row d-flex mt-4">
                          <button class="btn btn-outline-primary mb-0 js-btn-prev" type="button" title="Voltar">Voltar</button>
                          <button class="btn bg-gradient-primary ms-auto mb-0 js-btn-next" type="button" title="Next" id="ContinuarQuest" disabled>Continuar</button>
                        </div>
                      </div>
                    </div>
                    <!--single form panel-->
                    <div class="multisteps-form__panel" data-animation="FadeIn">
                      <div class="row text-center mt-4">
                        <div class="col-10 mx-auto">
                          <h5 class="font-weight-normal">Vamos iniciar agora</h5>
                          <p>Após iniciar o questioário você não poderá retornar ou refazê-lo. Reserve um local tranquilo e sem interrupções para responder. </p>
                        </div>
                      </div>
                      <div class="multisteps-form__content">
                        <div class="row mt-4">
                          <h3 class="font-weight-normal">{{selecionado}}</h3>
                          <p>Total de questões {{numero_questoes}}. </p>
                          <div class="button-row d-flex mt-4 col-12">
                            <button class="btn btn-outline-primary mb-0 js-btn-prev" type="button" title="Voltar">Voltar</button>
                            <button class="btn bg-gradient-primary ms-auto mb-0" type="button" title="Confirmar">Confirmar e Responder</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/footer.html' %}

  </div>

{% endblock content %}

{% block scripts %}

  <script src="{% static 'js/plugins/multistep-form.js' %}"></script>
  <script src="{% static 'js/plugins/choices.min.js' %}"></script>
  <!-- jQuery (required for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <script>

    $(document).ready(function() {
      $('#Codigo_Empresa').on('input', function() {
        var codigoEmpresa = $(this).val().trim();
        if (codigoEmpresa.length > 0) {
          $('#btnContinuar').removeAttr('disabled');
        } else {
          $('#btnContinuar').attr('disabled', 'disabled');
        }
      });

      
      $('input[name="escolhaQuestionario"]').on('change', function() {
        if ($('input[name="escolhaQuestionario"]:checked').length > 0) {
            $('#ContinuarQuest').removeAttr('disabled');
        } else {
            $('#ContinuarQuest').attr('disabled', 'disabled');
        }
      });      
  


    });

  </script>  

{% endblock scripts %}
