{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Perfil {% endblock title %}

{% block content %}

  <div class="container-fluid px-2 px-md-4"> 
    <div class="card card-body mx-4 mx-md-4 mt-4">
      <div class="row gx-4 mb-2">
        <div class="col-auto">
          <div class="avatar avatar-xl position-relative">
            {% comment %} <img src="{% static 'img/bruce-mars.jpg' %}" alt="profile_image" class="w-100 border-radius-lg shadow-sm"> {% endcomment %}
            <img src="{{ imageURL }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            
          </div>
        </div>
        <div class="col-auto my-auto">
          <div class="h-100">
            <h5 class="mb-1">
              <div class="input-group input-group-outline mb-3">
                {{ nome }}
              </div>
              
            </h5>
            <p class="mb-0 font-weight-normal text-sm">
              {{ subtitulo }}
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 my-sm-auto ms-sm-auto me-sm-0 mx-auto mt-3">
          <div class="nav-wrapper position-relative end-0">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-xl-6">
          <div class="card card-plain h-100">
            <div class="card-header pb-0 p-3">
              <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                  <h6 class="mb-0">Descrição no Perfil</h6>
                </div>
                <div class="col-md-4 text-end">
                  <a href="{% url 'profile_edit' %}">
                    <i class="fas fa-user-edit text-sm" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Profile"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="card-body p-3">
              <p class="text-sm">
                {{ descricao }}
              </p>
              <hr class="horizontal gray-light my-4">
              <ul class="list-group">
                <li class="list-group-item border-0 ps-0 pt-0 text-sm"><strong class="text-dark">Nome Completo:</strong> &nbsp; {{ nome }}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Celular:</strong> &nbsp; {{ celular }}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">E-mail:</strong> &nbsp; {{ email_contato }}</li>
                <li class="list-group-item border-0 ps-0 text-sm"><strong class="text-dark">Cidade:</strong> &nbsp; {{ cidade }}</li>
                <li class="list-group-item border-0 ps-0 pb-0">
                  <strong class="text-dark text-sm">Redes Sociais:</strong> &nbsp;
                  <a class="btn btn-facebook btn-simple mb-0 ps-1 pe-2 py-0" href="{{ facebook }}" target="_blank">
                    <i class="fab fa-facebook fa-lg"></i>
                  </a>
                  <a class="btn btn-twitter btn-simple mb-0 ps-1 pe-2 py-0" href="{{ x_twitter }}" target="_blank">
                    <i class="fab fa-twitter fa-lg"></i>
                  </a>
                  <a class="btn btn-instagram btn-simple mb-0 ps-1 pe-2 py-0" href="{{ instagram }}" target="_blank">
                    <i class="fab fa-instagram fa-lg"></i>
                  </a>
                </li>
                
                <li class="nav-item d-flex align-items-center pt-2">
                  {% if request.user.is_superuser %}
                    <a href="{% url 'admin:password_change' %}" class="btn bg-gradient-primary">
                  {% else %}
                    <a href="{% url 'password_change' %}" class="btn bg-gradient-primary">
                  {% endif %}
                      <i class="fa fa-exchange d-sm-inline-flex d-none me-sm-1"></i>
                      Alterar senha
                    </a>
                </li>
              </ul>                  
            </div>
          </div>
        </div>
        <!-- Preferências de uso da ferramenta -->
        <div class="col-12 col-xl-6">
          <div class="card card-plain h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Preferências</h6>
            </div>
            <div class="card-body p-3">
              <!-- Escolha de Cor e Modo Noturno -->
              <h6 class="text-uppercase text-body text-xs font-weight-bolder">Aparência</h6>
              <div class="mt-2 d-flex">
                <div class="form-check form-switch ps-0">
                <input class="form-check-input ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
                <label class="form-check-label text-body ms-3 mb-0" for="flexSwitchCheckDefault">Modo Normal / Modo Noturno</label>
                </div>
              </div>
              <hr class="horizontal dark my-sm-4">
              <!-- Fim escolha de cor e modo noturno -->
              <h6 class="text-uppercase text-body text-xs font-weight-bolder">Sessão 1</h6>
              <ul class="list-group">
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault" checked>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault">Descrição da Opção 1</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault1">
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault1">Descrição da Opção 2</label>
                  </div>
                </li>
                <li class="list-group-item border-0 px-0">
                  <div class="form-check form-switch ps-0">
                    <input class="form-check-input ms-auto" type="checkbox" id="flexSwitchCheckDefault2" checked>
                    <label class="form-check-label text-body ms-3 text-truncate w-80 mb-0" for="flexSwitchCheckDefault2">Descrição da Opção 3</label>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/footer.html' %}
  </div>

{% endblock content %}
