{% load i18n static admin_material %}
{% get_current_language as LANGUAGE_CODE %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_direction as direction %}
{% get_admin_setting as admin_setting %}

<!DOCTYPE html>
<html lang="en">

<head>

  {% include 'includes/head.html' %}
  {% block extrahead %}{% endblock extrahead %}
  {% block extrastyle %}{% endblock extrastyle %}

</head>

<body class="bg-gray-200 {% block body %}{% endblock body %}">

  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    {% block header %}{% endblock header %}  
    {% block content %}{% endblock content %}
  </main>

  <!--   Core JS Files   -->
  {% include "includes/scripts.html" %}

  <!-- Specific JS goes HERE --> 
  {% block scripts %}{% endblock scripts %}
  <script src="https://unpkg.com/htmx.org@2.0.0"></script>
  <script>
      var win = navigator.platform.indexOf('Win') > -1;
      if (win && document.querySelector('#sidenav-scrollbar')) {
        var options = {
          damping: '0.5'
        }
        Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
      }
  </script>

</body>

</html>